{%extends "registration/base.html" %}

{% block title %}学校ID入力{% endblock %}

{% block header_links %}
    <header class="header-regi">
        <nav class="login-nav">
            <h5 class="center-title">Chimy</h5>
            <p class="members-none">保護者or教職員</p>
        </nav>
    </header>
{% endblock %}    

{% block content %}
    <main class="main-auth">
        <div class="auth-container">
            <div class="auth-form">
                <h1 id="form-title_key">認証キー入力</h1>
                <p>受け取った学校IDを入力してください</p>
                <form class="auth-form" action="{{ url_for('loginSchoolId') }}" method="post">
                    <label for="auth-key">学校ID</label>
                    <input type="text" id="auth-key" name="school_code" placeholder="">
                    <button type="submit" id="auth-submit">ログイン</button>
                </form>
            </div>
        </div>    
    </main>
{% endblock %}

{% block footer %}{% endblock %}


