{%extends "registration/base.html" %}

{% block title %}保護者確認画面{% endblock %}

{% block header_links %}
    <header class="header-regi">
        <nav class="check_nav">
            <h5>アカウント登録</h5>
            <span class="check_role">保護者用</span>
        </nav>
    </header>
{% endblock %} 

{% block content %}
    <main class="check_main">
        <h4>以下の内容で登録してよろしいですか？</h4>
            <h5>｜お子様の情報</h5>
                <form method="POST" action="/finish"><!--action出来次第入力-->
                    <p><span class="required">氏名</span></p>
                        <div class="receive_contents">
                        <p>　{{ name_kanji_full }}</p>
                        </div>
                    <p><span class="required">氏名（ふりがな）</span></p>
                        <div class="receive_contents">
                        <p>　{{ name_kana_full }}</p>
                        </div>
                    <p><span class="required">学年</span></p>
                        <div class="receive_contents">
                        <p>　{{ grade }}</p>
                        </div>
                    <p><span class="required">クラス</span></p>
                        <div class="receive_contents">
                        <p>　{{ section }}</p>
                        </div>
            <h5>｜保護者の情報</h5>
                    <p><span class="required">氏名</span></p>
                        <div class="receive_contents">
                        <p>　{{ parent_name }}</p>
                        </div>
                    <p><span class="required">第一緊急連絡先</span></p>
                        <div class="receive_contents">
                        <p>　{{ phone_number }}</p>
                        </div>
                    <p><span class="required">メールアドレス</span></p>
                        <div class="receive_contents">
                        <p>　{{ email }}</p>
                        </div>
                    <p><span class="required">パスワード</span></p>
                        <div class="receive_contents">
                        <p>　{{ '*' * len(password1) }}</p>
                        <input type="hidden" name="password1" value="{{ password1 }}">
                        </div>
                    <br>
                    <br>
                    <br>
                    <div class="button">
                        <div>
                            <button type="button" onclick="history.back()" class="button1">修正</button>
                        </div>
                        <div>
                            <input type="submit" value="登録" class="button2">
                        </div>
                    </div>
                </form>
    </main>
{% endblock %}    

{% block footer %}
{% endblock %}