{%extends "registration/base.html" %}

{% block title %}登録完了{% endblock %}

{% block header_links %}
    <header class="header-regi">
        <nav class="finish-nav">
            <h5 class="center-title">アカウント登録</h5>
            <p class="members-none">保護者or教職員</p>
        </nav>
    </header>
{% endblock %}

{% block content %}
    <main class="complete_tontainer">
        <div class="complete_tontainer">
            <p class="complete_text">ご登録ありがとうございます</p>
            <p class="complete_text">少しでもあなたの助けになりますように</p>
            <form class="auth-form" action="{{ url_for('home') }}" method="get">
                <button type="submit">ホーム画面へ</button>
            </form>
        </div>
        <img src="{{ url_for('static',filename='img/penpen01.gif') }}" class="complete_gif">
    </main>
{% endblock %}   

{% block footer %}{% endblock %}