{%extends "registration/base.html" %}

{% block title %}chimy{% endblock %}

{% block body_class %}login-main{% endblock %}

{% block header_links %}
<header class="header-regi">
    <nav class="login-nav">
        <h5 class="center-title">chimy</h5>
        <p class="members-none">保護者or教職員</p>
    </nav>
</header>
{% endblock %}

{% block content %}
<main class="main-login">
    <div class="container">
        <div class="svg-container">
            <svg viewBox="0 0 594 420">
                <!--　ノート表紙のurl　A3　-->
                <image class="left" href="{{ url_for('static', filename='img/hon_hyoushi.png') }}" width="297" height="420"/>
                <!--　ノート開いたurl　A3　-->
                <image class="right" href="{{ url_for('static', filename='img/hon_hiraki01.png') }}" width="297" height="420"/>
            
                <!--　影　-->
                <rect id="kageL" width="297" height="420" class="left" fill="gray" fill-opacity="0.4"/>
            
                <!--　ノート開いたurlA3　-->
                <image id="honhiL" class="left" href="{{ url_for('static', filename='img/hon_hiraki01.png') }}" width="297" height="420"/>
                <!--　ノート表紙のurlA3　-->
                <image id="honhyoR" class="right" href="{{ url_for('static', filename='img/hon_hyoushi.png') }}" width="297" height="420"/>
        
                <!-- 左が見える -->
                <clipPath id="leftclip">
                    <rect x="0" y="0" width="297" height="420"/>
                </clipPath>
                <!-- 右が見える -->
                <clipPath id="rightclip">
                    <rect x="297" y="0" width="297" height="420"/>
                </clipPath>
            </svg>

            <!-- フォームをSVGの右側に配置 -->
            <div class="form-overlay">
                <form class="input-form" action="{{ url_for('home') }}" method="post">
                    <label for="email">メールアドレス</label>
                    <input type="email" id="email" name="email" placeholder="sample@email.com" required autocomplete="email">

                    <label for="token">認証キー</label>
                    <input type="text" id="token" name="token" placeholder="hoga0101" required autocomplete="one-time-code">

                    <label for="password">パスワード</label>
                    <p class="tyuu_1">※英数字6文字以上</p>
                    <input type="password" id="password" name="password" placeholder="" required autocomplete="current-password">
                    
                    <p class="pass_text">パスワード・認証キーを忘れた場合は</p>
                    <a href="#">こちら</a>
                    <button type="submit">ログイン</button>
                </form>
                <a href="{{ url_for('signup') }}" class="register-link">新規登録</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block footer %}{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}


