{%extends "base.html" %}

{% block title %}チャットルーム{% endblock %}

{% block header_content %}
        <button id="backButton"><i class="fa-solid fa-arrow-right fa-flip-horizontal"></i></button>
        {% for channel in channels %}
        <h6>{{ channel.group_name }} {{ channel.user_id }} 先生</h6>
        {% endfor %}
{% endblock %}        

{% block content %}
<main>
<div class="main_message">
<div class="sub_message">
<!--メッセージ（左側）-->
<div class="message message_left">
<!--ユーザー名-->
  <figure class="icon_img"><i class="fa-regular fa-circle-user" style="font-size:40px"></i>
  </figure>
<div class="message_name_left">
  <p >{{ child_class }} {{ teacher }} 先生</p>
  <div class="messaging messaging_left">
    <p class="message_text_left">{{ teacher_message }}/p>
  </div>
</div>
  <!--送信時刻-->
  <time class="message_time">{{  teacher_message_time }}</time>
  <div class="clear"></div><!--回り込みを解除-->
</div>

<!--メッセージ（右側）-->
<div class="message message_right">
<!--ユーザー名-->
  <figure class="icon_img"><i class="fa-regular fa-circle-user" style="font-size:40px"></i>
  </figure>
<div class="message_name_right">
  <p class="name_text" >{{ student_name }}</p>
  <div class="messaging messaging_right">
    <p class="message_text_right">{{ group_message }}</p>
  </div>
</div>  
  <!--送信時刻-->
  <time class="message_time">{{ group_message_time }}</time>
  <div class="clear"></div><!--回り込みを解除-->
</div>
</div>
</div>

<div class="chat_footer">
  <form method="POST" action="{{ url_for('message') }}">
    <input type="hidden" name="group_id" value="{{ group_id }}">
    <div class="send_box">
      <input type="text" name="message" size="60" maxlength="10000" placeholder="ここに文章を作成してください。">
      <button type="submit"><i class="far fa-paper-plane" style="font-size:20px"></i></button>
    </div>
  </form>
</div>
</main>
{% endblock %}