<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="chat.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>チャットルーム</title>
</head>
<body>
  <header class="header-main">
    <nav>
        <button id="backButton"><i class="fa-solid fa-arrow-right fa-flip-horizontal"></i></button>
        <h6>5年2組 佐藤 道哉 先生{% block header_links %}
        ホームなら「ホーム画面」記載
        {% endblock %}</h6>
        <ul>
            <li><a href="index.html"><a href="{{ url_for('app.pyで定義した名前') }}">
                <i class="fa-solid fa-house" id="home-icon"></i><p>Home</p></a></li>
            <li><a href="index.html"><a href="{{ url_for('app.pyで定義した名前') }}">
                <i class="fa-solid fa-circle-info" id="info-icon"></i><p>Info</p></a></li>
            <li><a href="index.html"><a href="{{ url_for('app.pyで定義した名前') }}">
                <i class="fa-solid fa-gear" id="config-icon"></i><p>Config</p></a></li>
            <li><a href="index.html"><a href="{{ url_for('app.pyで定義した名前でConfigと一緒') }}"><img src="" alt="Icon">画像で行くならこっち</li>
            <li><a href="index.html"><a href="{{ url_for('app.pyで定義した名前でConfigと一緒') }}">
                <i class="fa-regular fa-circle-user" id="user-icon"></i></a></li>
        </ul>
    </nav>
   </header>
    
<div class="main_message">
<div class="sub_message">
<!--メッセージ（左側）-->
<div class="message message_left">
<!--ユーザー名-->
  <figure class="icon_img"><i class="fa-regular fa-circle-user" style="font-size:40px"></i>
  </figure>
<div class="message_name_left">
  <p >5年2組 佐藤 道哉 先生</p>
  <div class="messaging messaging_left">
    <p class="message_text_left">今日は欠席で大丈夫でしょうか？</p>
  </div>
</div>
  <!--送信時刻-->
  <time class="message_time">AM9:00</time>
  <div class="clear"></div><!--回り込みを解除-->
</div>

<!--メッセージ（右側）-->
<div class="message message_right">
<!--ユーザー名-->
  <figure class="icon_img"><i class="fa-regular fa-circle-user" style="font-size:40px"></i>
  </figure>
<div class="message_name_right">
  <p class="name_text" >5年2組 田中 智樹</p>
  <div class="messaging messaging_right">
    <p class="message_text_right">今日は熱があるため欠席します。</p>
  </div>
</div>  
  <!--送信時刻-->
  <time class="message_time">AM9:05</time>
  <div class="clear"></div><!--回り込みを解除-->
</div>
</div>
</div>

<div class="chat_footer">
  <form method="post" action="/message">
  <div class="send_box"><input type="text" name="send_message" 
    size="60" maxlength="10000" placeholder="ここに文章を作成してください。">
    <button><i class="far fa-paper-plane" style="font-size:20px"></i></button> 
  </div>
  </form>
</div>
