<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><!--{% block title %}タグに出てくるページタイトル{% endblock}-->Document</title>
        <link rel="icon" href="../static/img/favicon.ico" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <link rel="stylesheet" href="styles.css"><!--<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}" />-->
</head>
<body>
    <header class="header-main">
        <nav>
            <button id="backButton"><i class="fa-solid fa-arrow-right fa-flip-horizontal"></i></button>
            <h6><!--{% block header_links %}-->
            今いるページ<!--ホームなら「ホーム画面」記載-->
            <!--{% endblock %}--></h6>
            <ul>
                <li><a href="index.html"><!--<a href="{{ url_for('app.pyで定義した名前') }}">-->
                    <i class="fa-solid fa-house" id="home-icon"></i><p>Home</p></a></li>
                <li><a href="index.html"><!--<a href="{{ url_for('app.pyで定義した名前') }}">-->
                    <i class="fa-solid fa-circle-info" id="info-icon"></i><p>Info</p></a></li>
                <li><a href="index.html"><!--<a href="{{ url_for('app.pyで定義した名前') }}">-->
                    <i class="fa-solid fa-gear" id="config-icon"></i><p>Config</p></a></li>
                <!--<li><a href="index.html"><a href="{{ url_for('app.pyで定義した名前でConfigと一緒') }}"><img src="" alt="Icon">画像で行くならこっち</li>-->
                <li><a href="index.html"><!--<a href="{{ url_for('app.pyで定義した名前でConfigと一緒') }}">-->
                    <i class="fa-regular fa-circle-user" id="user-icon"></i></a></li>
            </ul>
        </nav>
    </header>

    <main id="settings-mainpage_edit">
        <!--{% block content %}<main></main>
        各ページごとのメインはここ
        {% endblock %}-->
        <div class="user-info">
            <i class="fa-regular fa-circle-user" id="user-icon"></i>
            <div class="info-container">
                <div class="personal-info_settings">
                    <div class="form-group">
                        <label for="kidname-kanji_settings"> お子様のお名前 </label>
                        <input type="text" id="kidname-kanji_settings" name="kidname-kanji_settings" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="kidname-kana_settings"> ふりがな </label>
                        <input type="text" id="kidname-kana_settings" name="kidname-kana_settings" placeholder="">
                    </div>
                <hr>
                    <div class="form-group">
                        <label for="parents-name_settings"> 保護者のお名前 </label>
                        <input type="text" id="parents-name_settings" name="parents-name_settings" placeholder="">
                    </div>
                <hr>
                    <div class="select_settings">
                        <label for="grade_settings"> 学年 </label> 
                            <select id="grade_settings" name="grade">
                                <option selected> 学年 </option>
                                <option value="1"> 1 </option>
                                <option value="2"> 2 </option>
                                <option value="3"> 3 </option>
                                <option value="4"> 4 </option>
                                <option value="5"> 5 </option>
                                <option value="6"> 6 </option>
                            </select>
                    </div>  
                    <div class="select_settings">  
                        <label for="class_settings">クラス</label> 
                            <select id="class_settings" name="grade_class">
                            <option selected> クラス </option>
                                <option value="1"> 1 </option>
                                <option value="2"> 2 </option>
                                <option value="3"> 3 </option>
                                <option value="A"> A </option>
                                <option value="B"> B </option>
                                <option value="C"> C </option>
                            </select>                 
                    </div>
                    <div class="form-group">
                        <label for="student-nambers_settings"> 出席番号 </label>
                        <input type="text" id="student-nambers_settings" name="student-nambers_settings" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="phone-number_settings"> 第一緊急連絡先 </label>
                        <input type="text" id="phone-number_settings" name="phone-number_settings" placeholder="">
                    </div>
                <hr>
                    <div class="form-group">
                        <label for="mail_settings"> メールアドレス </label>
                        <input type="text" id="mail_settings" name="mail-settings" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="password_settings"> パスワード </label>
                        <input type="password" id="password_settings" name="password_settings" placeholder="※英数字6文字以上">
                    </div>
                    <div class="form-group">
                        <label for="re-password_settings"> パスワード再入力 </label>
                        <input type="password" id="re-password_settings" name="re-password_settings" placeholder="">
                    </div>
                    <div class="form-group">
                        <p class="school-nambers" id="schoolnamber_settings"> 学校ID </p>
                        <p class="school-nambers" id="school-nambersnon_settings"> moshimo </p>
                    </div>
                </div>
                </div>
                <div class="personal-data">
                                        
                </div>
            </div>
                    <button onclick="location.href='edit.html'" class="settings-button">編集</button>
                </div>            
        </div>

    </main>
    
</body>
</html>


