body, html {
    margin: 0;
    padding: 0;
}

.header-main {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #DBF2FF;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header-main nav {
    display: flex;
    margin-top: 0;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 30px;
}

#backButton {
    display: flex;
    font-size: 16px;
    background-color: transparent;
    border: none;
    margin-right: 10px;
}

#backButton i:hover {
    color: #368ebd; /* ホバー時のリンクの色 */
}

.header-main h6 {
    display: flex;
    margin: 0; /* 文字の大きさリセット */
    font-size: 1em; 
    color: #333;
  }

.header-main nav ul  {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.header-main nav ul li {
    margin-left: 20px; 
}

.header-main nav ul li a {
    text-decoration: none;
    color: #333; /* テキスト色を設定（必要に応じて変更） */
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color 0.3s;
   
}

.header-main nav ul li a:hover {
    color: #368ebd; /* ホバー時のリンクの色 */
}

#home-icon, #info-icon, #config-icon {
    font-size: 30px;
    margin-top: 8px;
    margin-bottom: -3px;
}

.header-main nav ul li p {
    font-size: 10px;
}


#user-icon {
    font-size: 60px;
    }

 