.check_nav {
    display: flex;
    justify-content: space-between;
}  

.check_role{
    margin-right: 6vw
}

.required{
    font-size: 0.8em;
}

.receive_contents{
    background-color: #DBF2FF;
    width:auto;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 0.8em;
}

.button {
    display: flex;
    justify-content: space-between;
}

.button1 {
    width: 125px;
    background-color: #ffffff;
    color: #000000;
    border-color: #56B7ED;
    border-style: solid;
    border-radius:3px
}

.button2 {
    width: 125px;
    background-color: #56B7ED;
    color: #ffffff;
    border-color: #56B7ED;
    border-style: solid;
    border-radius:3px
}

.sentence{
    font-size: 10px;
    display: flex;
    margin: auto;
}

::placeholder{
    color: #bbb;
}