body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-home {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.left-section {
    /*width: 30%;*/
    padding: 10px;
    margin-bottom: 2px;
    max-width: 400px;

}

.notifications {
    border: 1px none;
    padding: 10px 10px 0 10px;
    background-color: #fff;
    margin-bottom: 20px;
}

.calendar {
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    margin-bottom: 2px;
}

 .chat {
    border: 5px solid #56B7ED;
    border-radius: 8px;
    padding: 5px 16px;
    margin-left: 2%;
    margin-bottom: auto;
    width: 300px;
    max-width: auto;
}

.notifications h3 {
    text-align : center;
    margin: 6px;
    padding: 10px;
    border-bottom: 3px solid #56B7ED;
    width: 200px;
    margin: auto;
}

.chat h3 {
    text-align : center;
    margin: 10px;
    padding: 10px;
    border-bottom: 3px solid #56B7ED;
}


/* 新着のお知らせ関係 */
.latest-notice {
    text-align: center;
    margin: 20px 0;
}

/* 新着 */
#latest-notice-title {
    margin: auto;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 3px;
    color: red;
    font-size: 12px;
}

/* お知らせへのボタンというかリンク */
#notice-btn {
    background-color: #56B7ED;
    border: none;
    line-height: 60px;
    padding: 3px 50px;
    padding-top: 1px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    border-radius: 500px;
    margin-top: 18px;
    text-decoration: none;
}

#notice-btn:hover {
    background-color: #56B7ED;
    opacity: 0.7;
}


/* カレンダー系 */
#calendar-nav {
    display: flex;
    justify-content:center; 
    align-items: center;
    margin-bottom: 10px;
    }

#calendar-nav button {
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    color: #848484;
    cursor: pointer;
    font-size: 16px;
}

#calendar {
    text-align: center;
    border: 2px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 10px;
    margin-bottom: -10px;
}

/*
#calendar table {
    margin: 0 auto;
}
*/

.saturday-detail {
    color: #00BFFF;
}

.sunday-detail {
    color: #FF4500;
}

.date-none {
    font-size: x-small;
    text-indent:100%;
	white-space:nowrap;
	overflow:hidden;

}

#prev-month, #next-month {
    color: #56B7ED;
}

#prev-month:hover {
    color: #56B7ED;
    opacity: 0.7;
}

#next-month:hover {
    color: #56B7ED;
    opacity: 0.7;
}

#calendar-month {
    padding: 0 20px;
}

#calendar th, #calendar td {
    /*border: 1px solid #ccc;*//*曜日とかの枠*/
    padding: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}


/* カレンダー本日にあたる部分のとこ */
.today {
    display: inline-block;
    padding: 8px 12px; /* ボックスの内側 */
    border: 2px solid rgb(255, 166, 0); /* ボックスの枠線 */
    border-radius: 4px; /* 角 */
    background-color: transparent; /* 背景色 */
    font-weight: bold; /* 太字に */
    text-align: center; /* 中央揃え */
    color: #000; /* テキストの色 */
}

/*カレンダーの日付押したら出るやつ*/
#selected-date-notice {
    margin: -25px 0 0 0;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    color: red;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}



/* ボタン　*/
#reload-btn {
    margin-right: 10px;
 }
 
 #reload-btn:hover {
     color: #56B7ED;
     opacity: 0.7;
 }
 


/* チャット========================================== */
.chat-list {
    max-height: 500px;
    overflow-y: scroll;    
}

.student-title, .teacher-title {
    margin: 0;
    padding: 0;
    padding-bottom: 3px;
}

.class-affi {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    border-left: 5px solid #56B7ED;
    padding: 0 8px;
    margin-bottom: 10px;
    margin-top: 20px;
    gap: 3px;
}



.chat-container {
    border: 1.75px solid #ccc;
    border-radius: 8px;
    padding: 0 12px 0 8px;
    display: flex;
    align-items: center;
    font-size: 12px;
    margin: 8px;
    overflow: hidden;
    box-sizing: border-box;
}

.teacher-message-wrapper {
    display: flex;
    flex-direction: column; /* タイトルとメッセージを縦に */
    width: 85%;
    box-sizing: border-box;

}

.class-teacher {
    display: flex;
    font-size: 16px;
    gap: 3px;
    white-space: nowrap; 
    word-wrap: normal;
    margin-bottom: 8px;
}

.title-container {
    display: flex;
    flex-direction: row; /* 横並びにする */
    gap: 10px; /* 必要に応じてスペースを調整 */
}

.message-container {
    display: flex;
    flex-direction: row; /* 横並びにする */
    gap: 10px; /* 必要に応じてスペースを調整 */
    margin-top: 10px; /* メッセージとタイトルの間にスペースを追加 */
}

.teacher-title, .time-new, .message-new, .teacher-title {
    margin: 0;
}

/* チャットのユーザーアイコン */
.chat-exc {
    font-size: 30px;
    color: #848484
}

.message-group {
    display: flex;
    align-items: center;
    width: 100%; /* 幅を100%に設定 */
    box-sizing: border-box; /* パディングとボーダーを含めた幅計算 */
    justify-content: space-between;
}

.message-new {
    margin: 0;
    overflow-wrap: break-word; /* 長い単語を折り返す */
    word-wrap: break-word; /* 長い単語を折り返す */
    white-space: pre-wrap; /* 改行 */
    width: 100%; /* 幅を100%に設定 */
    max-width: 100%; /* 最大幅を100%に設定 */
    box-sizing: border-box;
    flex-basis: 80%;
    flex-grow: 1;
    margin-bottom: 3px;
}

.icon-time {
    text-align: center;
    margin: 5px 8px 3px 0;
    
}

.time-new {
    margin: 0;
    font-size: 12px;
    color: #888; /* 時間色 */
    font-weight: bold;
    white-space: nowrap;
    width: auto;
}







