.notice-mainpage {
    display: flex;
    justify-content: center;
    max-height: 900px;
    align-items: center;
    margin-left: 80px;
    min-width: 1200px;
}


.notice-view_main {
    justify-content: center;
    max-width: 760px;
}

.notice-main_title {
    display: flex;
    text-align: center;
}

.notice-date_cnt {
    display: flex;
    
}

.top-row_date {
    display: flex;
    margin-bottom: 30px;
    margin-top: 3em;
}

.text-center_btn {
    display: inline-block;
    align-items: center;
}


.btn-danger, .btn-edit {
    margin-top: 50px;
    padding: 1px 16px;
    font-size: 1em;
    cursor: pointer;
    margin-left: 10px;
}

.btn-danger {
    margin-left: 300px;
    background-color: #fff;
    border: 2px solid #56B7ED;   
    border-radius: 500px; 
}

.btn-edit {
  background-color: #56B7ED;
  border: 2px solid #56B7ED;   
  border-radius: 500px; 
  color: #fff;
}

/* =================================================== */

/* 作成・編集 */

.notice-editpage {
    max-height: 700px;
}

.notice-main_container hr {
    border: 2px solid #dbf2ff;
}

.notice-title_grop {    
    margin-top: 20px;
    text-align: center;

}

.custom-input {
    border: none !important;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#notice-title_sup {
    margin: 0;
    color: #bbb;
    margin-bottom: 20px;
}

textarea {
    resize: none;
    width: 600px;
    height: 550px;
    border: none;
    font-family: 'Noto Sans JP', sans-serif;
}

textarea ::placeholder {
    resize: none;
}

textarea:focus {
    outline: none;
}

.create-edit_btn {
    display: flex;
    justify-content: flex-end;
}

.notice-edeit_button {
    margin-top: 2px;
    padding: 4px 20px;
    border-radius: 100px;
    border: none;
    background-color: #56B7ED;
    color: #fff; 
}


