#settings-mainpage_edit {
    height: 630px;
    width: 522.172px;
}


.personal-info_settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2.2;
}

.form-group, .select_settings {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-left: 132px;
}


.personal-info_settings label {
    width: 150px;
    margin-left: 30px; 
    text-align: right
    
}

.personal-info_settings p {
    width: 150px;
    margin-left: 30px; 
    margin-top: 2px;
    text-align: right;
}

#school-nambersnon_settings {
    margin-left: -75px;
}


.personal-info_settings input[type="text"] {
    /*デフォルトのスタイルを上書き*/
    display: flex;
    border: 1px solid #333;
    border-radius: 8px; /* 例: 他のページでは異なるスタイルを指定*/
    height: 20px;
    margin-top: 2px;

}

.personal-info_settings input[type="text"]:focus {
    outline: none;
    border:2px solid #56B7ED;
}

.personal-info_settings input[type="password"] {
    /*デフォルトのスタイルを上書き*/
    display: flex;
    border: 1px solid #333;
    border-radius: 8px; /* 例: 他のページでは異なるスタイルを指定*/
    height: 20px;
    margin-top: 2px;
}

.personal-info_settings input[type="password"]:focus {
    outline: none;
    border:2px solid #56B7ED;
}

.personal-info_settings hr {
    border-style: solid;
    border-width: 1px;
    border-color: #DBF2FF;
    width: 100%; /* 必要に応じて幅を設定 */
    margin: 10px 0; /* 上下の余白を調整 */
}

select:focus {
    border:2px solid #56B7ED;
}




