#settings-mainpage {
    height: 630px;
}
 
.user-info  i {
    display: flex;
    padding-top: 50px;
    justify-content: center;
    border-bottom: solid  2px #DBF2FF;
    padding-bottom: 10px;


}

.personal-info_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.2;
}



.settings-main_grop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 30px;

}

.left-settings {
    flex: 1;
    text-align: right
}

.right-settings {
    flex: 1;
}

.personal-info_main hr {
    border-style: solid;
    border-width: 1px;
    border-color: #DBF2FF;
    width: 100%; /* 必要に応じて幅を設定 */
    margin: 10px 0; /* 上下の余白を調整 */
}

.settings-button {
    background-color: #56B7ED;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 3px 25px;
    margin-top: 20px;
    margin-left: 50vh;
}
