#settings-mainpage {
    height: 630px;
}
 
.user-info  i {
    display: flex;
    padding-top: 50px;
    justify-content: center;
    border-bottom: solid  2px #DBF2FF;
    padding-bottom: 10px;


}

.personal-info_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.2;
}



.settings-main_grop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 30px;

}

.left-settings {
    flex: 1;
    text-align: right
}

.right-settings {
    flex: 1;
}

.personal-info_main hr {
    border-style: solid;
    border-width: 1px;
    border-color: #DBF2FF;
    width: 100%; /* 必要に応じて幅を設定 */
    margin: 10px 0; /* 上下の余白を調整 */
}

.settings-button {
    background-color: #56B7ED;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 3px 25px 5px;
    margin-top: 20px;
    margin-left: 50vh;
    text-decoration: none;
}

.settings-button:hover {
    background-color: #56B7ED;
    opacity: 0.7;
}

#settings-mainpage_edit {
    height: 630px;
    width: 522.172px;
}


.personal-info_settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2.2;
}

.form-group, .select_settings {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-left: 132px;
}


.personal-info_settings label {
    width: 150px;
    margin-left: 30px; 
    text-align: right
    
}

.personal-info_settings p {
    width: 150px;
    margin-left: 30px; 
    margin-top: 2px;
    text-align: right;
}

#school-nambersnon_settings {
    margin-left: -75px;
}


.personal-info_settings input[type="text"] {
    /*デフォルトのスタイルを上書き*/
    display: flex;
    border: 1px solid #333;
    border-radius: 8px; /* 例: 他のページでは異なるスタイルを指定*/
    height: 20px;
    margin-top: 2px;

}

.personal-info_settings input[type="text"]:focus {
    outline: none;
    border:2px solid #56B7ED;
}

.personal-info_settings input[type="password"] {
    /*デフォルトのスタイルを上書き*/
    display: flex;
    border: 1px solid #333;
    border-radius: 8px; /* 例: 他のページでは異なるスタイルを指定*/
    height: 20px;
    margin-top: 2px;
}

.personal-info_settings input[type="password"]:focus {
    outline: none;
    border:2px solid #56B7ED;
}

.personal-info_settings hr {
    border-style: solid;
    border-width: 1px;
    border-color: #DBF2FF;
    width: 100%; /* 必要に応じて幅を設定 */
    margin: 10px 0; /* 上下の余白を調整 */
}


.settings-input {
    text-align: right;
    margin: 0;
    justify-content: center;
}

.cancel-btn {
    display: inline-block;
    background-color: #fff;
    border: 2px solid #56B7ED;
    color: #333;
    border-radius: 3px;
    text-decoration: none;
    vertical-align: middle;
    margin-right: 10px;
    padding: 0 10px 2px;
}

.settings-button_edit {
    display: inline-block;
    border: none;
    background-color: #56B7ED;
    color: #fff;
    border-radius: 3px;
    padding: 3px 30px 2px ;
    vertical-align: middle;
}

.cancel-btn:hover, .settings-button_edit:hover {
    opacity: 0.7;
}