.signup_nav{
    display: flex;
    justify-content: space-between;

}  

.signup_role{
    margin-right: 6vw
}

.required::after{
    content: "必須";
    color:#ffffff;
    background: #ff0000;
    font-size: 0.8em;
    padding: 0.1em;
    border-radius: 0.4em;
    margin-left: 0.5em;
}

.button{
    width: 415px;
    background-color: #56B7ED;
    color: #ffffff;
    border-color: #56B7ED;
    border-style: solid;
    border-radius:3px
}

.sentence{
    font-size: 10px;
    display: flex;
    margin: auto;
}

::placeholder {
     color: #bbb;
}

.custom-design input[type="text"], 
.custom-design input[type="email"], 
.custom-design input[type="password"] {
    display: flex;
    height: 20px;
    border: 2px solid #333;
    border-radius: 0;
}

.custom-design input[type="text"]:hover {
    outline: none;
    border: 2px solid #56B7ED;
}

.custom-design input[type="email"]:hover {
    outline: none;
    border: 2px solid #56B7ED;
}

.custom-design input[type="password"]:hover {
    outline: none;
    border: 2px solid #56B7ED;
}

