.signup_body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #fff;
}


.signup_main{
    padding-top: 63px;
    padding-bottom: 70px;
    background-color: #ffffff; /* 任意の背景色 */
    overflow-y: auto;
}


.header-regi {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #DBF2FF;
    padding: 15px 0;
    z-index: 10;
    }

.signup_nav{
    display: flex;
    justify-content: space-between;

}  

.signup_role{
    margin-right: 6vw
}
.header-regi h5 {
    margin: 0; /* 文字の大きさリセット */
    font-size: 1em; 
    color: #333;
    margin-left: 6vw;
    
  }

.footer-regi {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #DBF2FF;
    padding: 10px 0;
    z-index: 10;

    justify-content: center;
}

.footer-regi p {
    margin: 0; /* マージンリセット */
    font-size: x-small; 
    color: #333;
    text-align: right;
    margin-right: 6vw;
 
}

.required::after{
    content: "必須";
    color:#ffffff;
    background: #ff0000;
    font-size: 0.8em;
    padding: 0.1em;
    border-radius: 0.4em;
    margin-left: 0.5em;
}

.button{
    width: 415px;
    background-color: #56B7ED;
    color: #ffffff;
    border-color: #56B7ED;
    border-style: solid;
    border-radius:3px
}

.sentence{
    font-size: 10px;
    display: flex;
    margin: auto;
}
